<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SKDS</display-name>
  <session-config>
    <session-timeout>300</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>home</servlet-name>
    <jsp-file>/view/Home.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>login</servlet-name>
    <jsp-file>/view/Login.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>register</servlet-name>
    <jsp-file>/view/Register.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>createRequestModal</servlet-name>
    <jsp-file>/view/CreateRequest.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>addPersonal</servlet-name>
    <jsp-file>/view/AddPersonal.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>companyManager</servlet-name>
    <jsp-file>/view/CompanyManager.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>companySettings</servlet-name>
    <jsp-file>/view/CompanySettings.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>customerManager</servlet-name>
    <jsp-file>/view/CustomerManager.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>customerSettings</servlet-name>
    <jsp-file>/view/CustomerSettings.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>personalManager</servlet-name>
    <jsp-file>/view/PersonalManager.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>personalSettings</servlet-name>
    <jsp-file>/view/PersonalSettings.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>getRequestList</servlet-name>
    <servlet-class>controller.GetRequestList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>registerUser</servlet-name>
    <servlet-class>controller.RegisterUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginUser</servlet-name>
    <servlet-class>controller.LoginUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getCompanyList</servlet-name>
    <servlet-class>controller.GetCompanyList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>createRequest</servlet-name>
    <servlet-class>controller.CreateRequest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getCompanyRequestList</servlet-name>
    <servlet-class>controller.GetCompanyRequestList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileUploadHandler</servlet-name>
    <servlet-class>controller.FileUploadHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadHandler</servlet-name>
    <url-pattern>/app/fileUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>companyManager</servlet-name>
    <url-pattern>/companyManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>companySettings</servlet-name>
    <url-pattern>/companySettings</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>customerManager</servlet-name>
    <url-pattern>/customerManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>customerSettings</servlet-name>
    <url-pattern>/customerSettings</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>personalManager</servlet-name>
    <url-pattern>/personalManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>personalSettings</servlet-name>
    <url-pattern>/personalSettings</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getRequestList</servlet-name>
    <url-pattern>/app/getRequestList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/app/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/app/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>createRequestModal</servlet-name>
    <url-pattern>/app/createRequestModal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addPersonal</servlet-name>
    <url-pattern>/app/addPersonal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registerUser</servlet-name>
    <url-pattern>/app/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginUser</servlet-name>
    <url-pattern>/app/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getCompanyList</servlet-name>
    <url-pattern>/app/getCompanyList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>createRequest</servlet-name>
    <url-pattern>/app/createRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getCompanyRequestList</servlet-name>
    <url-pattern>/app/getCompanyRequestList</url-pattern>
  </servlet-mapping>
</web-app>